<div class="row">
  <div class="col-md-8">
    <h1>Topics</h1>
  </div>
  <div class="col-md-4">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>  
  </div>
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <ul>
              <li><%= link_to topic.title, topic %></li>
              <%= link_to "Edit", edit_topic_path(topic) %>
              <%= link_to "Delete", topic, method: :delete, data: { confirm: 'Delete this topic for sure?' } %>
            </ul>
          </h4>
        </div>
    <% end %>
  </div>