- provide(:title, "Topics")

%h1 Choose a topic:

.small-border
  - @topics.each do |topic|
    %h4
      %ul
        %li
          = link_to topic.title, topic
%br
= link_to "New Topic", new_topic_path, class: 'btn btn-primary'
%br
%br