
%p#demo
- if policy(Like.new).create?
  - if like = current_user.liked(bookmark)
    = link_to [topic, bookmark, like], onclick: "blocmetricsReport('unlike')", method: :delete do
      %i 
        .glyphicon.glyphicon-star

      
  - else
    = link_to [topic, bookmark, Like.new], onclick: "blocmetricsReport('like')", method: :post do
      %i 
        .glyphicon.glyphicon-star-empty

        

      