- if policy(Like.new).create?
  - if like = current_user.liked(bookmark)
    = link_to [topic, bookmark, like], method: :delete do
      %i 
        .glyphicon.glyphicon-star
        &nbsp; unlike
      %br
      
  - else
    = link_to [topic, bookmark, Like.new], method: :post do
      %i 
        .glyphicon.glyphicon-star-empty
        &nbsp; like
      %br
      