- provide(:title, "My Bookmarks")
%h1 My Bookmarks

.row
  .col-md-8
    = render partial: 'bookmarks/bookmark', collection: @user_bookmarks

%h1 Liked Bookmarks

.row
  .col-md-8
    = render partial: 'bookmarks/bookmark', collection: @liked_bookmarks

